* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;


}

body {
    height: 100vh;
    width: 100vw;
    background-color: #525659;
    font-family: "Arial";
}

.navigation-container {
    height: 3rem;
    width: 100vw;
    background-color: #fa6e6e;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar-section {
    display: flex;
    align-items: center;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    margin-left: 3rem;
    display: flex;
}

.menu-bar{
    width: 2rem;
    cursor: pointer;
    margin-left: 2rem
}


.card-section{
    height: 97vh;
    width: 100vw;
    background-image: linear-gradient(to right, #fff3b1 10%, #ffbae8 80%);
    display: flex;
    justify-content: center;
    align-items: center;

}



.main-headline {
    width: 50%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;


}

.title-cart {
    font-size: 2.8rem;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 0.8rem;
}

.body-text {
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: #525659;
    line-height: 1.6;
}

.btn-primary {
    width: 40%;
    height: 2rem;
    background-color: #fa6e6e;
    color: #ffffff;
    font-family: "roboto";
    font-size: 1rem;
    border: 0;
    outline: none;
    cursor: pointer;
}

.photo-cart {
    width: 50%;
    height: 100%;


}

.burger-image{
    height: 100%;
    width: 100%;
}



.picture_section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #fff3b1 10%, #ffbae8 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    padding: 3rem;

}


.picture_card_container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo_card_section{
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    
}

.stage_image {
    width: 100%;
    height: 15rem;
    margin-bottom: 0.5rem;

}

.starter_image {
    width: 50%;
    height: 30.6rem;

}


.footer-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer-box-section {
    background-color: #fa6e6e;
    align-items: center;
    padding: 2rem;
    width: 75%;
}


.footer-section-heading {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 1rem
}

.footer-section-text {
    font-size: 3rem;
    padding-bottom: 1rem;
    letter-spacing: 4px;
}


.btn-secondary {
    font-size: 1rem;
    background-color: #fa6e6e;
    outline: none;
    font-family: "Arial";
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

}

.dart-icon {
    font-size: 0.8rem;
    padding-left: 0.5rem;
}


@media screen and (max-width : 576px) {

    .nav-bar-section {
        flex-direction: column;
    }

    .text {
        display: none;
    }

    .navigation-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }

    .menu-bar {
        margin-right: 1rem;
    }

    .card-section {
        flex-direction: column;
    }

    .photo-cart {
        order: 1;
        width: 100%;
    }

    .main-headline {
        width: 90%;
        order: 2;
        padding: 1rem;
    }

    .title-cart {
        font-size: 2.2rem;
        letter-spacing: 2px;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }

    .body-text {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .picture_section {
        flex-direction: column;
        height: 100vh;
    }

    .picture_card_container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-container {
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .footer-box-section {
        padding:0.5rem
    }

    .footer-section-text{
        font-size: 1rem;
    }


}

@media screen and (max-width:768px) {
    .text {
        font-size: 0.8rem;
        letter-spacing: 3px;
        margin-left: 2rem;
    }

    .menu-bar {
        width: 1.5rem;
        margin-left: 0.5rem;
        font-size: 1rem;
    }


    .main-headline {
        padding: 1rem;

    }

    .title-cart {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
    }

    .body-text {
        font-size: 1.2rem;
    }

    .picture_section {
        height: 100vh;
        width: 100vw;
        padding: 1rem;

    }


    .footer-container {
        width: 50%;
        margin-top: 1rem;
        padding: 0.5rem;
        margin-right: 1.5rem;
    }

    .footer-box-section {
        width: 100%;
    }

    .footer-section-text {
        font-size: 1.5rem;
    }











}